* {
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;

}
.picture {
    display: flex;
    margin-left: 150px;
}
 header {
     background: linear-gradient(229deg, #0047FF 0%, #00BCD4 100%);
     color: #000;
     text-align: center;
     font-family: 'Roboto', sans-serif;
     font-size: 9px;
     text-transform: uppercase;
     width: 100vw;
     height: 5vh;
     display: flex;
     align-items: center;
     justify-content: center;

 }
 .Info {
     width: 100vw;
     height: 10vh;
     display: flex;
     align-items: center;
     flex-direction: row;
     justify-content: space-evenly;
     margin-left: 50px;
 }
 a {
     color: #848895;
     text-align: center;
     font-family: "Helvetica", sans-serif;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     text-decoration: none;
     margin-right: 56px;
      }
 nav {
     margin-left: 400px;
 }
.Top {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Content {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
h2 {
    color: #FFF;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 75.6px;
    letter-spacing: 0.68px;
}
h3 {
    color: #FFF;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    font-size: 68px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.68px;
}
.Content p {
    color: #FFF;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
}
.Buttons button {

    padding: 16px 33px;
    gap: 10px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    display:inline-flex;
    flex-shrink: 0;

}
.Left {
    width: 188px;
    height: 52px;
    border-radius: 36px;
    border: 1px solid #000;
    background: linear-gradient(152deg, #8C01FA 0%, #000 100%);
    }
 .Right:hover {
     background-color: #bb7dd3;
     color: white;
 }
.Right {
    border-radius: 36px;
    border: 1px solid #FFF;
    background: #000;
    width: 152px;
    height: 52px;
    margin-left: 16px;
}
.Buttons {
    display: flex;
    }
#Tools {
    color: #618ADC;
    text-align: center;
    font-family: "Helvetica";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}
#Images {
    display: inline-flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    width: 75vw;
    margin-top: 30px;
    margin-left: 100px;

}
.Client {
    height: 100vh;
    display: flex;
    background-color: black;
}

.Block1 {
    display: flex;
    width: 70vw;
    height: 100vh;
    margin-top: 20px;
    margin-left: 280px;
}
.Block1_1 {
    display: flex;
    flex-direction: column;
    width: 50%;



}
.Block1_1 p {
    color: #FFF;
    font-family: "Helvetica";
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;

}
.Block1_2 {
    display: flex;
    flex-direction: column;

    font-style: normal;
    font-weight: 400;
    font-family: "Helvetica";
    align-content: center;
    align-items: flex-start;




}
.Block1_2_1 {

    height: 33.4%;

}
.Block1_2_1 h3 {
    font-size: 101px;
    line-height: 132px; /* 130.693% */
    background: linear-gradient(228deg, #19FB9B 0%, #8C01FA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Block1_2_2 h3 {
    font-size: 106px;
    background: linear-gradient(229deg, #0047FF 0%, #00BCD4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}


.Block1_2_2 {

height: 33.4%;
}
.Block1_2_3 h3 {
    font-size: 110px;
    background-clip: text;
    background: linear-gradient(222deg, #00FFBD 0%, #025B8C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.Block1_2_3 {
    height: 33.4%;

}
.Block1_2 p {
    color: #C4C4C4;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
    text-transform: uppercase;
}


.Second_block {
    display: flex;
    height: 110vh;
    width: 70vw;
    background-color: black;
    flex-direction: row;
    margin-left: 290px;
}
 .Second, .Third {
    display: flex;
    width: 33.4%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    margin-left: 70px;
}
.First {
    display: flex;
    width: 33.4%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;

}
.First h2 {
    color: #FFF;
    font-family:"Helvetica";
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 46.2px;
    letter-spacing: 1px;
}

.First p {
    color: #C4C4C4;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;

}
.One_one, .One_two {
    display: flex;
    font-weight: 400;
    height: 50%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;

}
.One_one h2 {
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-family: "Helvetica";
    }

.One_one h3 {
    color: #C4C4C4;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
}
#One_one_text p {
    display: flex;
    align-items: flex-start;
    color: #C4C4C4;
    font-family: "Helvetica";
    font-size: 17px;
    font-style: normal;
    width: 17vw;
    line-height: 1.5;


}
.One_two h2{
    color: #FFF;
    font-family: "Helvetica";
    font-size: 28px;
    font-style: normal;

}
.One_two h3 {
    color: #C4C4C4;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
}
#One_two_text {
    display: flex;
    width: 16vw;
    align-items: flex-start;
    color: #C4C4C4;
    font-family: "Helvetica";
    font-size: 17px;
    font-style: normal;
    line-height: 1.5;
   }
.Two_one, .Two_two {
    display: flex;
    font-weight: 400;
    height: 50%;
    flex-direction: column;
    align-items: flex-start;

}
.Two_one h2 {
    color: #FFF;
    font-family: "Helvetica";
    font-size: 28px;
    font-style: normal;
    margin-bottom: 15px;
    line-height: 1.5;
}
.Two_one h3 {
    color: #C4C4C4;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
}
#Two_one_text p {
    color: #C4C4C4;
    font-family: "Helvetica";
    font-size: 18px;
    font-style: normal;
    line-height: 1.5;
    display: flex;
    width: 17vw;
    margin-bottom: 15px;
       }
.Two_two h2 {
    color: #FFF;
    font-family: "Helvetica";
    font-size: 28px;
    font-style: normal;
    line-height: 1.5;
    margin-bottom: 15px;
}
.Two_two h3 {
    color: #C4C4C4;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
}
#Two_two_text {
    color: #C4C4C4;
    font-family: "Helvetica";
    font-size: 18px;
    font-style: normal;
    line-height: 1.5;
    width: 17vw;
    line-height: 1.5;
    margin-bottom: 18px;

}
.Biggest_block {
    display: flex;
    width: 100vw;
    height: 210vh;
    flex-direction: column;
    background-color: black;
}
.Two_one {
    margin-top: -35px;
}
.Two_two {
    margin-top: 25px;
}
#Two_two_text a {
    color: #19FB9B;
    font-family: "Helvetica";
    font-size: 18px;
    font-style: normal;
    line-height: 27.3px;
    text-decoration-line: underline;
    margin: 0;
   }

.Build {
    display: flex;
    background-color: black;
    width: 100vw;
    flex-direction: column;

}
.Block_Big3 {
    display: flex;
    height: 50%;
    flex-direction: column;
    margin-top: 150px;
    align-items: flex-start;
    justify-content: center;
}
.Big_one {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    gap: 20PX;

}
.Big_one h2 {
    color: #FFF;
    font-family: "Helvetica";
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: 46.2px;
    letter-spacing: 1px;
    margin-left: 280px;
}
.Buttons2 button {
    text-align: center;
    font-family: "Helvetica";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
    border-radius: 15px;
    text-align: center;
    color: #FFF;
    flex-shrink: 0;
    background: #111;
    height: 48px;
    }
#First {
    width: 64px;
    flex-shrink: 0;
    border: 1px solid #A962FF;
}
#Second {
    width: 62px;
    border: 1px solid #111;
   }
#Third {
    width: 98px;
    border: 1px solid #111;
  }
#Fourth {
    width: 83px;
    border: 1px solid #111;
}
#Fifth {
    width: 71px;
    border: 1px solid #111;
}
.Buttons2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 16px;
    margin-left: 340px;
}
.Big_two {
    display: flex;
    height: 55vh;
    margin-left: 280px;
    flex-direction: row;
}
.Big_two_one {

    display: flex;
    width: 550px;
    height: 400px;
    flex-shrink: 0;

}
.Big_two_two {
    width: 550px;
    height: 400px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: #2b2b2b;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}
.Big_two_two p {
    color: #FFF;
    font-family: "Helvetica";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
    width: 30vw;
    display: flex;
    margin-left: 48px;
    }
.Big_two_two a {
    color: #A962FF;
    font-family: "Helvetica";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
    margin-left: 48px;
}
.picture2 {
    margin-left: 48px;
}
.Big_three {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 72vw;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(38, 31, 38, 0.30);
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 280px;
}
#Pic1 h2 {
    color: #F087FF;
    text-align: center;
    font-family: "Helvetica";
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: 46.2px;
    letter-spacing: 1px;
}
#Pic1 p {
    color: #BABABA;
    text-align: center;
    font-family: "Helvetica";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.36px;
    text-transform: uppercase;

}
.Last_one h5 {
    color: #FFF;
    font-family: "Helvetica";
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 46.2px;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
    margin-left: 275px;
    margin-top: 100px;
}
.Last_one_one {
    height: 60vh;
    display: flex;
    background-color: black;
}
#Almost_one {
    display: flex;
    width: 17vw;
    flex-direction: column;
            }
.Almost_one_one {
    display: flex;
    flex-direction: column;
    width: 17vw;
    height: 25vh;
    justify-content: center;
    background-color: #111111;
    align-items: center;
    border-radius: 10px;
    margin-left: -14px;

   }
.Almost_one_one h2 {
    color: #F087FF;
    text-align: center;
    font-family: "Helvetica";
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: 46.2px;
    letter-spacing: 1px;
    display: flex;
    justify-content: start;
    margin-left: -50px;


    }
.Almost_one_one p{
    color: #BABABA;
    text-align: center;
    font-family: "Helvetica";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.36px;
    text-transform: uppercase;
    justify-content: flex-start;
    margin-left: -35px;
      }
.Almost_one_two img {
    display: flex;
    width: 17vw;
    height: 25vh;
    margin-left: -15px;
    margin-top: 20px;
}
#Almost_two img {
    display: flex;
    width: 34vw;
    height: 52.5vh;
    margin-left: 20px;

}

#Almost_three {
    display: flex;
    width: 17vw;
    flex-direction: column;
    margin-left: 20px;
}
.Almost_three_two {
    display: flex;
    flex-direction: column;
    width: 17vw;
    height: 25vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #111111;
}
.Almost_three_two h2 {
    color: #19FB9B;
    text-align: center;
    font-family: "Helvetica";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 46.2px;
    letter-spacing: 1px;

}
.Almost_three_two p {
    color: #BABABA;
    text-align: center;
    font-family: "Helvetica";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.36px;
    text-transform: uppercase;

}
.Almost_three_one img {
    display: flex;
    width: 17vw;
    height: 25vh;
    margin-bottom: 20px;
}
#Almost_four img {
    display: flex;
    width: 17vw;
    height: 52.5vh;
    margin-right: 20px;
    margin-left: 20px;
}
#Almost_five {
    display: flex;
    width: 17vw;
    flex-direction: column;
    overflow:hidden;
}
.Almost_fifth_one h2 {
    color: #FFEB3B;
    text-align: center;
    font-family: "Helvetica";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 46.2px;
    letter-spacing: 1px;
}
.Almost_fifth_one p{
    color: #BABABA;
    text-align: center;
    font-family: "Helvetica";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.36px;
    text-transform: uppercase;
}
.Almost_fifth_one {
    display: flex;
    flex-direction: column;
    width: 17vw;
    height: 25vh;
    justify-content: center;
    background-color: #111111;
    align-items: center;
    border-radius: 10px;
    margin-right: -100px;

}
.Last_one_three {
    height: 50vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin-left: 450px;
}
.Last_one_three p {
    color: #FFF;
    text-align: center;
    font-family: "Helvetica";
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 46.2px;
    letter-spacing: 1px;
}
#Last {
    width: 175px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 36px;
    border: 1px solid #000;
    background: linear-gradient(152deg, #8C01FA 0%, #000 100%);
}
#Last {
    color: #FFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}
 .Last:hover {
    background-color: #027e7e;
    }

 footer {
     display: flex;
     height: 40vh;
     width: 100vw;
     background-color: black;
     align-items: center;



 }
 .FirstBlock {
     width: 21vw;
     display: flex;
     flex-direction: column;
     margin-left: 280px;
     margin-right: 350px;


 }

 #Frame1 {
     width: 31px;
     height: 27px;
     flex-shrink: 0;
 }
.FirstBlock h3 {
    color: #FFF;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
    text-align: start;
}
.Emoji {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    width: 14vw;
}
#Youtube, #Discord, #Github, #Twitter, #Telegram, #Reddit {
    width: 26px;
    height: 16px;
    flex-shrink: 0;
    background: #848895;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FirstBlock p {
    color: #848895;
    font-family: "Helvetica";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;

}
.SecondBlock {
    width: 15vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: -60px;

}
.SecondBlock p {
    color: #FFF;
    font-family: "Helvetica";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.72px;
    text-transform: uppercase;
}
.ThirdBlock {
    width: 22vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}
.LastBlock {
    width: 20vw;
    height: 18vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: -7px;
}
.LastBlock p {
    color: #FFF;
    font-family: "Helvetica";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.72px;
    text-transform: uppercase;
}
.LastLastBlock {
    height: 25vh;
    width: 7vw;
    display: flex;
    align-items: flex-start;
    margin-left: -100px;
}
.LastLastBlock p {
    color: #848895;
    text-align: center;
    font-family: "Helvetica";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 4px;
}
.Footer1 {
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 25vh;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 270px;

}
